body {
  padding: 0px;
  margin: 0px;
  font-family: "Comfortaa", cursive;
}

.logInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputStyle {
  text-align: center;
  padding: 5px;
  font-size: 16px;
  height: 24px;
  width: 440px;
  border-radius: 16px;
  border-width: 1px;
}

.logInBtn {
  margin: 24px;
  font-size: x-large;
  padding: 8px;
  background-color: #ff9f31;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

#htmlInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logInTitle {
  text-align: center;
  margin-top: 44px;
  margin-bottom: 32px;
}
